.head-nav {
background-color: #f5f5c6;
font-family: 'Source Sans Pro', sans-serif;
}

.main-card {
    color: #27253d;
    background-color: #f5f5c6;
    width: 75%;
    margin: 0 auto;
        float: none;
        margin-bottom: 10px;
        font-family: 'Source Sans Pro', sans-serif;
}